*.dll
ClientReader/bin/Debug/UserReaderLibrary.dll
*.exe
*.dll
*.dll
UserReaderLibrary/obj/Debug/UserReaderLibrary.dll
*.dll
*.dll
ClientReader/bin/Debug/UserReaderLibrary.dll
*.dll
UserReaderLibrary/obj/Debug/UserReaderLibrary.dll
*.dll
ClientReader/bin/Debug/UserReaderLibrary.dll
*.exe
ClientReader/obj/Debug/ClientReader.exe
*.exe
*.dll
ClientReader/bin/Debug/UserReaderLibrary.dll
*.dll
ClientReader/bin/Debug/UserReaderLibrary.dll
*.exe
UserReaderLibrary/bin/Debug/UserReaderLibrary.dll
ClientReader/bin/Debug/UserReaderLibrary.dll
*.exe
ClientReader/bin/Debug/ClientReader.exe